<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<html>
<head>
	<title>Users List</title>
</head>
<body>
	<h1>Users</h1>
	
	<div th:each="user : ${users}">
		<span><a th:href="@{/users/{userId}(userId=${user.userId})}">[[${user.userId}]]</a></span><br/>
		<span th:text="${user.username}">Username</span><br/>
		<span th:text="${user.name}">Full Name</span><br/>
		<span th:text="${user.password}">Password</span><br/>
		
		<span th:text="${user.address?.addressLine1} ?: ' '">AddressLine1</span><br/>
		<span th:text="${user.address?.addressLine2} ?: ' '">AddressLine2</span><br/>
		<span th:text="${user.address?.city} ?: ' '">City</span><br/>
		<span th:text="${user.address?.region} ?: ' '">Region</span><br/>
		<span th:text="${user.address?.country} ?: ' '">Country</span><br/>
		<span th:text="${user.address?.zipCode} ?: ' '">ZipCode</span><br/>	
		
		<div th:each="account : ${user.accounts}">
    		<a th:href="@{/users/{userId}/accounts/{accountId}(userId=${user.userId}, accountId=${account.accountId})}">
        		<span th:text="${account.accountName}">Account Name</span>
    		</a>
		</div>
		
		<hr/>
	</div>
</body>
</html>
